
@font-face {
    font-family: 'Quantico';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/quantico/v17/rax-HiSdp9cPL3KIF7xrJD0.woff2) format('woff2');
  }
body{  
    font-family: "Quantico";  
    background-color: white;  
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }  
  .container {  
      padding: 50px;  
      background-color: #F3FCF2;
      border: 2px solid #1EBB39;
      width: 50%;
  }  
    
  input[type=text], input[type=password], textarea {  
    width: 100%;  
    padding: 15px;  
    margin: 5px 0 22px 0;  
    display: inline-block;  
    border: none;  
    background: #f1f1f1;  
  }  
  input[type=text]:focus, input[type=password]:focus {  
    background-color: #789974 ;  
    outline: none;  
  } 
   div {  
              padding: 10px 0;  
           }  
  hr {  
    border: 1px solid #f1f1f1;  
    margin-bottom: 25px;  
  }  
  .registerbtn {  
    background-color: #1EBB39;  
    color: white;  
    padding: 16px 20px;  
    margin: 8px 0;  
    border: none;  
    cursor: pointer;  
    width: 100%;  
    opacity: 0.9;  
  }  
  .registerbtn:hover {  
    opacity: 1;  
  }
  .backbtn {  
    background-color: #9999CC;  
    color: white;  
    padding: 16px 20px;  
    margin: 8px 0;  
    border: none;  
    cursor: pointer;  
    width: 100%;  
    opacity: 0.9;  
  }  
  .backbtn:hover {  
    opacity: 1;  
  }
  .midbtn {  
    background-color: #789974;  
    color: white;  
    padding: 16px 20px;  
    margin: 8px 0;  
    border: none;  
    cursor: pointer;  
    width: 100%;  
    opacity: 0.9;  
  }  
  .midbtn:hover {  
    opacity: 1;  
  }
  .errormsg{
    background-color: rgba(255, 0, 0, 0.664);
    padding-left: 20px;
  }
  #success-msg{
    text-align: center;
    color: #1EBB39;
  }