

@font-face {
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/quantico/v17/rax-HiSdp9cPL3KIF7xrJD0.woff2) format('woff2');
}
  #searchbar{
     margin-left: 15%;
     padding:10px;
     border-radius: 10px; 
   }
 
   input[type=search] {
      width: 75%;
   }

  img{
  width: 100px;
  height: 100px;
  }
  .centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h1{
    text-align: center;
  }
  h4{
    font-family: "Quantico";
    color: #1EBB39 ;
    text-align: center;
  }

.grid-container{
    display: flex;
}
.item-card{
  font-size: x-large;
  width: 460px;
  border-bottom: solid 2px #9999cc;
}
.mainpage-img-score-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}
.item-card-none{
  font-size: x-large;
  width: 460px;
  border-bottom: solid 2px #9999cc;
}
.card-image{
  display: inline-block;
  width: 230px;
  height: 112px;
  border: 5px solid #1EBB39 ;
  border-radius: 10px;
}
.score-title{
  font-family: "Quantico";
  color: #1EBB39;
  margin: 0;
}
.no-score{
  font-family: "Quantico";
  text-align: center;
  background-color: #cdcdfa;
  border-bottom: solid 2px #9999cc;
}
.score-holder{
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 5px;
  background-color: #cdcdfa;
  border: 5px solid #1EBB39 ;
  border-radius: 10px;
}
.item-card:hover{
  background-color: rgb(207, 206, 206);
  cursor: pointer;
}
.item-card:hover .item-name{
  color: #469954;
}
.buttons{
  margin-top:100;
  display:flex;
  justify-content:center;
  gap:2rem;
  padding-top: 5px;
}
.buttons button{
  border:none;
  padding:0.4rem 1.2rem;
  background-color:#1EBB39;
  color:white;
  border-radius:5px;
  cursor:pointer
}

#page-number{
  border: 1px, solid;
  text-align:center;
  width:3rem;
  border-radius:5px;
}
#page-number:focus{
  outline:none;
  background-color: #1EBB39;
}
.sticky {
  position: fixed;
  top: 0;
  width: 99%;
}
.item-id{
  visibility: hidden;
  display: none;
}


#header{
  background-image: linear-gradient(to left,#9999cc,#F3FCF2);
  padding-bottom: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px #9999cc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#header-components{
  margin: auto;
  display: inline-block;
  
}

#gamepage-container{
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 5%;
}

#gamepage-gamedetails-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #1EBB39;
  border-radius: 5px;
  padding: 3px;
  max-width: 470px;
  height: fit-content;
  background-color: #F3FCF2;
}
#button-adjust{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

#gamepage-reviews-container{
  border: 2px solid #9999cc;
  border-radius: 5px;
  background-color: #F3FCF2;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 70%;
  min-width: 50%;
  width: 50%;
  gap: 10px;
}
.reviewbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  border: solid 2px #9999cc;
  background-color:#cdcdfa;
  padding: 0.5rem;
  height: fit-content;
  border-radius: 5px;
  max-width: fit-content;
  box-shadow: 0 0 10px #9999cc;
}
.review-title{
  border-bottom: solid 2px #9999cc;
}
.review-title-span{
  font-size: xx-large;
  font-family: "Quantico";
  color: #789974;
}
.review-body-span{
  font-family: "Quantico"; 
}
.review-scores-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem;
}
.score{
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #ee4f44;
  box-shadow: 0 0 20px #F3FCF2;
  font-family: "Quantico";
  font-size: xx-large;
  color: black;
}
.score-div-title{
  display: flex;
  justify-content: center;
  height: 80px;
  margin: 0;
  border-radius: 5px;
  background-color: #789974;
  color: black;
  box-shadow: 0 0 10px #789974;
}
.review-score{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.2rem;
  font-size: x-large;
  font-family: "Quantico";
  color: #1EBB39;
  text-align: center;
  width: 8rem;
  border-radius: 5px;
  border-bottom: solid 2px #9999cc;
  box-shadow: inset 0 0 10px #9999cc;
}
.login-review-text{
  color: #789974;
  font-family: "Quantico";
}
.main-image{
  width: 460px;
  height: 215px;
  border: solid 4px #9999cc;
  border-radius: 3px;
}
.description-class{
  color: #789974;
  font-family: "Quantico";
  padding-left: 2px;
}
.title-word{
  color: black;
  font-family: "Quantico";
  font-size: xx-large;
  margin: auto;
}
#header-components{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20%;
}
#button-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px;
  width: 20%;
  margin-bottom: 10px;
}
.header-button{
  border: solid 2px black;
  padding:0.4rem 1.2rem;
  background-color:#1EBB39;
  color:white;
  border-radius:5px;
  cursor:pointer;
  width: 150px;
}
.header-button:hover{
  background-color: #9999cc;
}
.header-button:disabled{
  background-color: #789974;
}

#login{
  float: right;
}

.profile-button-holder{
  display: flex;
  padding: 3px;
  border: none;
  background-color: #1EBB39;
  width:fit-content;
  float: left;
  box-shadow: 0 0 5px #9999cc;
}
.profile-icon{
  width: 2em;
  height: 2em;
  background-color: whitesmoke;
  border: 3px solid #9999cc;
  border-radius: 5px;
}
#profile-button{
  background-color: #1EBB39;
  color: white;
  border: none;
  padding: none;
  cursor:pointer;
}
.profile-button-holder:hover{
  background-color: #9999cc;
}

.profile-button-holder:hover #profile-button{
  background-color: #9999cc;
}
.authbuttons{
  padding-top: 3px;
  padding-left: 3px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10px;
}
.logout-button{
  padding:0.4rem 1.2rem;
  cursor:pointer;
  height: 100%;
  background-color: #1EBB39;
  color: white;
  border: none;
  box-shadow: 0 0 5px #9999cc;
}
.logout-button:hover{
  background-color: #9999cc;
}
.title-text-area{
  margin: auto;
  width: fit-content;
  border-bottom: solid 2px #789974;
}
#add-review-button{
  background-color: #1EBB39;
  color: white;
  font-size: x-large;
  box-shadow: 0 0 10px #9999cc;
  width: 3rem;
  height: 3rem;
}
#add-review-button:hover{
  background-color: #9999cc;
  cursor: pointer;
}
#create-review-graphics{
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #cdcdfa; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 5px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
  box-shadow: 0 0 10px #9999cc;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #1EBB39; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}
.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #1EBB39; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
#create-review-scores{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  font-family: "Quantico";
  font-size: large;
  color: #1EBB39;
}
#create-review-submit-button{
  display: flex;
  justify-content: center;
}

#create-review-submit-button:disabled{
  background-color: #9999cc;
}

.valDesc{
  display: inline;
  width: fit-content;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
#add-review-holder{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.username-span{
  font-family: "Quantico";
  color: #9999cc;
}
.textArea:invalid{
  box-shadow: 0 0 10px red;
}
#profile-page-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Quantico";
  height: fit-content;
  background-color: #F3FCF2;
  max-width: 75%;
  margin-left: 12.5%;
  box-shadow: 0 0 10px #1EBB39;
  border: 5px solid #1EBB39;
  border-radius: 5px;
  padding: 1rem;
}
#profile-detail-holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  margin-top: 3rem;
  gap: 1rem;
}
#profile-image{
  width: 100%;
  height: 100%;
  border: 5px solid #9999cc;
  border-radius: 5px;
  background-color: white;
}
#profile-image-holder{
  display: flex;
  justify-content: center;
  height: fit-content;
}
#changeables-holder{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
}
#profile-stats-holder{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#profile-username-holder{
  font-size: xx-large;
  color: #1EBB39;
  border-bottom: solid 2px #9999cc;
}
#profile-stats{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #cdcdfa;
  border: solid 2px #9999cc;
  box-shadow: 0 0 10px #9999cc;
}
.profile-stats{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile-change-button{
  margin-left: 5%;
}
#profile-email-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#hotbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50%;
}
.privacy-div{
  background-color: #cdcdfa;
  padding: 1rem;
  border: solid 5px #9999cc;
  border-radius: 5px;
  box-shadow: 0 0 10px #9999cc;
  font-family: "Quantico";
}