@font-face {
    font-family: 'Quantico';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/quantico/v17/rax-HiSdp9cPL3KIF7xrJD0.woff2) format('woff2');
  }

.card:hover{
    cursor: pointer;
}
.container{
    font-family: "Quantico";
}

blockquote {
    border-left: solid 10px #388e3c;
}
.promo-caption{
    font-size: 2rem;
}
.attach_money{
    color: #388e3c;
}
.search{
    color: #311b92;
}
.comment{
    color: black;
}

.score{
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.divider-2{
    border-bottom: solid black 2px;
}
.empty-href:hover{
    cursor: pointer;
}
.tabs .tab a {
    color: #d1c4e9;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease, background-color .28s ease;
    transition: color .28s ease, background-color .28s ease;
  }
  
  .tabs .tab a:focus, .tabs .tab a:focus.active {
    color: #311b92;
    background-color: #9575cd36;
    outline: none;
  }
  
  .tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #311b92;
  }
  
  .tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #673ab7 ;
    will-change: left, right;
  }

  input[type=range] + .thumb .value {
    color: #673ab7;
  }

  input[type=range]::-webkit-slider-thumb {
    background-color: #673ab7;
  }

  input[type=range]::-moz-range-thumb {
    background: #673ab7;
  }

  input[type=range]::-ms-thumb {
    background: #673ab7;
  }

  input[type=range] + .thumb.active {
    background: #673ab7;
  }
  .article-body{
    font-size: medium;
  }
  .bold{
    font-weight: bold;
  }
  .italic{
    font-style: italic;
  }